.bottom-list {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 10px;
}

.bottom-lists {
  text-align: center;
  display: inline;
  margin: 20px;
  text-decoration: none;
  color: rgb(135, 135, 135);
}

.bottom-lists:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
