.weather-all {
  background-image: url(../img/landscape.jpg);
  height: 395px;
  width: 500px;
}
.Weather {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.Weather .overview {
  margin-bottom: 20px;
}

.Weather .weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.Weather .weather-temperature strong {
  /* color: rgb(33, 33, 33); */
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.Weather .weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.Weather .weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}

.Weather .weather-forecast {
  margin-top: 10px;
}

.Weather .weather-forecast h3 {
  color: rgb(186, 186, 186);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.Weather .weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.Weather .weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.main-content {
  text-align: center;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control {
  padding: 10px;
  border: none;
  border-radius: 5px;
  /* background: none; */
}
.form-control:hover {
  background-color: white;
  cursor: pointer;
  border: none;
}

.submit-search {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.submit-search:hover {
  background-color: rgb(60, 60, 251);
  cursor: pointer;
}
.aligned {
  text-align: center;
}

h1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
.weather-descr {
  color: white;
}
strong {
  color: white;
}
.degrees {
  color: white;

  text-decoration: none;
}
.degrees:hover {
  cursor: pointer;
}
.line {
  color: white;
}

.weater-status {
  color: white;
}

.weater-status {
  margin-bottom: 5px;
}
.weather-info {
  background-color: rgba(3, 11, 242, 0.171);
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 5px;
  padding-bottom: 24px;
}

.bottom-list {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 10px;
}

.bottom-lists {
  text-align: center;
  display: inline;
  margin: 20px;
  text-decoration: none;
  color: rgb(135, 135, 135);
}

.bottom-lists:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.weather-day {
  display: block;
  width: 100%;
}
.link-git {
  color: blue;
}
